/* body{
  font-family: Verdana;
  font-size: 2em;
}

#mySubmit{
  font-size: 1em;
} */

/* .box{
  border: 3px solid black;
  width: 100%;
  height: 125px;
} */

/* #fruits{
  border: 3px solid;
  font-size: 2rem;
} */

/* #myBox{
  background-color: lightgreen;
  width: 300px;
  height: 300px;
  font-size: 4.1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

#myButton{
  font-size: 3rem;
}

body{
  margin: 0;
}

#myBox{
  background-color: lightblue;
  width: 200px;
  height: 200px;
  font-size: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.myButtons{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  pad: 10px 15px;
  background-color: hsl(205, 100%, 60%);
  color: white;
  cursor: pointer;
} */

#myH1{
  font-size: 5rem;
}

#myButtons{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.enabled{
  background-color: hsl(204, 100%, 50%);
  color: white;
}

.hover{
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  font-weight: bold;
}

.disabled{
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 80%);
}
